
@{
    ViewData["Title"] = "Register";
}
<div b-un7kwxfodm="" class="inner-box text-center">
	<div b-un7kwxfodm="" class="cross-icon"><span b-un7kwxfodm="" class="fa fa-times"></span></div>
	<div b-un7kwxfodm="" class="title">
		<h4 b-un7kwxfodm="">ثبت</h4>
	</div>
	<div b-un7kwxfodm="" class="appointment-form">
		<form method="post" action="contact.html">
			<div b-un7kwxfodm="" class="form-group">
				<input b-un7kwxfodm="" type="text" name="text" value="" placeholder="نام کاربری" required="">
			</div>
			<div b-un7kwxfodm="" class="form-group">
				<input b-un7kwxfodm="" type="text" name="text" value="" placeholder="رمز عبور" required="">
			</div>
			<div b-un7kwxfodm="" class="form-group">
				<input b-un7kwxfodm="" type="email" name="email" value="" placeholder="آدرس ایمیل" required="">
			</div>
			<div b-un7kwxfodm="" class="form-group">
				<button b-un7kwxfodm="" type="submit" class="theme-btn">ثبت</button>
			</div>
		</form>
	</div>
	<div b-un7kwxfodm="" class="social-style-one">
		<a b-un7kwxfodm="" href="#"><i b-un7kwxfodm="" class="fab fa-twitter"></i></a>
		<a b-un7kwxfodm="" href="#"><i b-un7kwxfodm="" class="fab fa-facebook-f"></i></a>
		<a b-un7kwxfodm="" href="#"><i b-un7kwxfodm="" class="fab fa-instagram"></i></a>
		<a b-un7kwxfodm="" href="#"><i b-un7kwxfodm="" class="fab fa-pinterest-p"></i></a>
	</div>
</div>

