<footer class="main-footer rel z-1">
    <div class="footer-top-wrap bgc-black pt-100 pb-75">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-12">
                    <div class="footer-widget widget_logo wow fadeInUp delay-0-2s">
                        <div class="footer-logo">
                            <a href="index.html"><img src="~/site/images/logos/logo.png" alt="Logo"></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-7 col-md-7 footer-parent ">
                    <div class="footer-base-parent">
                        <div class="footer-widget widget_nav_menu wow fadeInUp delay-0-4s">
                            <h6 class="footer-title">لینک صفحات</h6>
                            <ul>
                                <li><a href="services.html">خدمات</a></li>
                                <li><a href="projects.html">نمونه کار</a></li>
                                <li><a href="services.html#pricing">قیمت گذاری</a></li>
                                <li><a href="about.html#faqs">درباره من</a></li>
                                <li><a href="contact.html">تماس با من</a></li>

                            </ul>
                        </div>
                        <div class="footer-widget widget_newsletter wow fadeInUp delay-0-4s">
                            <form action="#" style="margin: unset">
                                <input type="text" id="email_address" name="email" class="custom-email-field" placeholder="آدرس ایمیل" required>
                                <button class="theme-btn">
                                    عضویت در خبرنامه <i class="far fa-angle-left"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-5">
                    <div class="footer-widget widget_contact_info wow fadeInUp delay-0-6s">
                        <h6 class="footer-title">ارتباط با ما</h6>
                        <ul>
                            <li>
                                <i class="far fa-map-marker-alt"></i> ایران ، کاشان, خیابان امیر کبیر<br> روبروی پمپ
                                بنزین ، واحد 1
                            </li>
                            <li>
                                <i class="far fa-envelope"></i>
                                <a href="mailto:support@gmail.com">support@gmail.com</a>
                            </li>
                            <li>
                                <i class="far fa-phone"></i> <a href="callto:+989130000000" class="phone-number">
                                    +98
                                    913 000 0000
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom pt-20 pb-5 rpt-25">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="copyright-text">
                        <p> کپی رایت © 1402, کلیه حقوق برای <a href="index.html">بایت مستر</a> محفوظ است </p>
                    </div>
                </div>
                <div class="col-lg-6 text-lg-end">
                    <ul class="footer-bottom-nav">
                        <li><a href="#">فیسبوک</a></li>
                        <li><a href="#">توییتر</a></li>
                        <li><a href="#">اینستاگرام</a></li>
                        <li><a href="#">لینکدین</a></li>
                    </ul>
                </div>
            </div>
            <!-- Scroll Top Button -->
            <button class="scroll-top scroll-to-target" data-target="html">
                <span class="fas fa-angle-double-up"></span>
            </button>
        </div>
        <div class="bg-lines">
            <span></span><span></span>
            <span></span><span></span>
            <span></span><span></span>
            <span></span><span></span>
            <span></span><span></span>
        </div>
    </div>
</footer>