@using ClinicSata.Web.Models.RoleModels
@model RoleViewModel

<div class="card card-secondary">
    <div class="card">
        <div class="card-body register-card-body">
            <div id="jstree">
            </div>   
        </div>
    </div>

</div>