<style>

    .menu-sidebar {
        display: flex;
        align-items: center;
        gap: 15px; 
    }

    .auth-buttons {
        display: flex;
        gap: 10px;
    }

        .auth-buttons .btn {
            margin: 0;
        }

    .btn-container {
        padding: 10px;
        font-size: 18px;
        background-color: #f4f4f4; 
        border-radius: 50%;
        cursor: pointer;
    }

        .btn-container i {
            color: #333;
        }

    .login-btn, .signup-btn, .logout-btn {
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 4px;
        text-align: center;
    }


    .login-btn {
        background-color: #4CAF50;
        color: white;
    }

    .signup-btn {
        background-color: #008CBA;
        color: white;
    }

    .logout-btn {
        padding: 10px 20px;
        background-color: #f44336;
        color: white;
        border-radius: 4px;
    }

     
        .login-btn:hover, .signup-btn:hover, .logout-btn:hover {
            opacity: 0.8;
        }

</style>
<header class="main-header menu-absolute">
    <!--Header-Upper-->
    <div class="header-upper">
        <div class="container container-1620 clearfix">

            <div class="header-inner rel d-flex align-items-center">
                <div class="logo-outer">
					<div class="logo">
                        <a href="/"><img src="~/image/logos/logom.png" alt="Logo" title="Logo"></a>
                    </div>
                </div>

                <div class="nav-outer clearfix mx-auto">
                    <!-- Main Menu -->
                    <nav class="main-menu navbar-expand-lg">
                        <div class="navbar-header">
                            <div class="mobile-logo my-15">
                                <a href="index.html">
                                    <img src="~/site/images/logos/logo.png" alt="Logo" title="Logo">
                                </a>
                            </div>

                            <div class="menu-btns me-4">
                        
                                <div class="menu-sidebar mobile-hidden" id="message_btn_mobile">
                                    <button class="btn-container">
                                        <i class="far fa-envelope"></i>
                                    </button>

                                
                                    @if (User.Identity.IsAuthenticated)
                                    {
                           
                                        <a class="btn theme-btn logout-btn" href="/Account/Profile">پروفایل من</a>
                                        <a class="btn theme-btn logout-btn" href="/Account/Logout">خروج</a>
                                    }
                                    else
                                    {
                           
                                        <div class="auth-buttons">
                                            <a class="btn theme-btn login-btn" href="/Account/Login">ورود</a>
                                            <a class="btn theme-btn signup-btn" href="/Account/Register">ثبت‌نام</a>
                                        </div>
                                    }
                                </div>
                            </div>


                            <!-- Toggle Button -->
                            <button type="button" class="menu-mobile-button" id="nav_btn">
                                <img src="~/site/images/shape/sidebar-tottler.svg" alt="Toggler">
                            </button>

                        </div>

                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="dropdown">
                                    <a href="#">اصلی</a>
                                    <ul>
                                        <li class="top"><a href="index.html">چند صفحه ای</a></li>
                                        <li><a href="indexonepage.html">تک صفحه</a></li>
                                    </ul>
                                </li>
                                <li class="top"><a href="about.html">درباره من</a></li>
                                <li><a href="services.html">خدمات</a></li>
                                <li class="dropdown">
                                    <a href="#">نمونه کارها</a>
                                    <ul>
                                        <li class="top"><a href="projects.html">نمایش گرید</a></li>
                                        <li><a href="projects-masonry.html">نمایش شبکه ای</a></li>
                                        <li><a href="project-details.html">جزئیات نمونه کار</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">بلاگ</a>
                                    <ul>
                                        <li class="top"><a href="blog.html">لیست پست ها</a></li>
                                        <li><a href="blog-details.html">جزئیات پست</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">سایر</a>
                                    <ul>
                                        <li class="top"><a href="404.html">صفحه ارور</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">تماس با من</a></li>
                                  @if (User.Identity.IsAuthenticated)
                                {
                                    <li class="dropdown">
                                        <a href="#">مدیریت سیستم</a>
                                        <ul>
                                            <li class="top"><a href="blog.html">مدیریت کاربران</a></li>
                                            <li><a href="blog-details.html">مدیریت نقش ها</a></li>
                                        </ul>
                                    </li>
                                }
                                
                            </ul>
                        </div>

                    </nav>
                    <!-- Main Menu End-->
                </div>

                <div class="menu-btns me-4">
                    
                    <div class="menu-sidebar mobile-hidden" id="message_btn_mobile">
                        @if (User.Identity.IsAuthenticated)
                        {

                            <a class="btn theme-btn logout-btn" href="/Account/Profile">پروفایل من</a>
                            <a class="btn theme-btn logout-btn" href="/Account/Logout">خروج</a>
                        }
                        else
                        {

                            <div class="auth-buttons">
                                <a class="btn theme-btn login-btn" href="/Account/Login">ورود</a>
                                <a class="btn theme-btn signup-btn" href="/Account/Register">ثبت‌نام</a>
                            </div>
                        }
                        <button class="btn-container" id="message_btn">
                            <i class="far fa-envelope"></i>
                        </button>                   
                    </div>
                </div>




            </div>
        </div>
    </div>
    <!--End Header Upper-->
</header>