<style>
    .menu-btns {
    gap: 10px;
}
</style>
<header class="main-header menu-absolute">
    <!--Header-Upper-->
    <div class="header-upper">
        <div class="container container-1620 clearfix">

            <div class="header-inner rel d-flex align-items-center">
                <div class="logo-outer">
                    <div class="logo">
                        <a href="index.html"><img src="~/site/images/logos/logo.png" alt="Logo" title="Logo"></a>
                    </div>
                </div>

                <div class="nav-outer clearfix mx-auto">
                    <!-- Main Menu -->
                    <nav class="main-menu navbar-expand-lg">
                        <div class="navbar-header">
                            <div class="mobile-logo my-15">
                                <a href="index.html">
                                    <img src="~/site/images/logos/logo.png" alt="Logo" title="Logo">
                                </a>
                            </div>

                            <!-- Message Button Mobile -->
                            <div class="menu-btns me-4">
                                <!-- message sidbar mobile -->
                                <div class="menu-sidebar mobile-hidden" id="message_btn_mobile">
                                    <button>
                                        <i class="far fa-envelope"></i>
                                    </button>
                        @*              <div class="ml-auto"> *@
                                        @if (User.Identity.IsAuthenticated)
                                        {
                    <a class="btn theme-btn" href="/Account/Profile">پروفایل من</a>
                                        }
                                        else
                                        {
                        <a class="btn theme-btn" href="/Account/Login">ورود یا ثبت‌نام</a>
                                        }
    @*     </div> *@
                                </div>
                            </div>

                            <!-- Toggle Button -->
                            <button type="button" class="menu-mobile-button" id="nav_btn">
                                <img src="~/site/images/shape/sidebar-tottler.svg" alt="Toggler">
                            </button>

                        </div>

                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="dropdown">
                                    <a href="#">اصلی</a>
                                    <ul>
                                        <li class="top"><a href="index.html">چند صفحه ای</a></li>
                                        <li><a href="indexonepage.html">تک صفحه</a></li>
                                    </ul>
                                </li>
                                <li class="top"><a href="about.html">درباره من</a></li>
                                <li><a href="services.html">خدمات</a></li>
                                <li class="dropdown">
                                    <a href="#">نمونه کارها</a>
                                    <ul>
                                        <li class="top"><a href="projects.html">نمایش گرید</a></li>
                                        <li><a href="projects-masonry.html">نمایش شبکه ای</a></li>
                                        <li><a href="project-details.html">جزئیات نمونه کار</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">بلاگ</a>
                                    <ul>
                                        <li class="top"><a href="blog.html">لیست پست ها</a></li>
                                        <li><a href="blog-details.html">جزئیات پست</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">سایر</a>
                                    <ul>
                                        <li class="top"><a href="404.html">صفحه ارور</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">تماس با من</a></li>
                            </ul>
                        </div>

                    </nav>
                    <!-- Main Menu End-->
                </div>

                <!-- Message Button -->
<div class="menu-btns d-flex align-items-center">
    <!-- Message Sidebar Button -->
        <div>
        @if (User.Identity.IsAuthenticated)
        {
            <a class="btn theme-btn ml-2" href="/Account/Profile">پروفایل من</a>
        }
        else
        {
            <a class="btn theme-btn ml-2" href="/Account/Register">ورود یا ثبت‌نام</a>
        }
    </div>
    <div class="menu-sidebar mobile-hidden" id="message_btn">
        <button>
            <i class="far fa-envelope"></i>
        </button>
    </div>
    
    <!-- Authentication Button -->

</div>


            </div>
        </div>
    </div>
    <!--End Header Upper-->
</header>