
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content" id="divPhoneNumber">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">بازیابی رمز عبور</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span class="text-sm">لطفا شماره همراه خود را وارد کنيد</span>
                <div class="col-12 fv-plugins-icon-container">
                    <label class="form-label" for="fpMobileNumber">شماره تلفن</label>
                    <div class="input-group input-group-merge has-validation">
                        <input type="text" id="fpMobileNumber" class="form-control phone-number-otp-mask text-start" dir="ltr" placeholder="09*********" value="">
                        <span class="input-group-text" dir="ltr"><i class='bx bx-mobile-alt'></i></span>
                    </div>
                    <div class="fv-plugins-message-container invalid-feedback">
                        <label id="lblLoginErrorMsg"></label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary w100" id="fpNumberValudate">دریافت کد</button>
            </div>
        </div>
        <div  class="modal-content dspnone" id="divCode">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">بازیابی رمز عبور</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <span class="text-sm">لطفا کد ارسال شده را وارد نمایید</span>

                <div class="col-12 fv-plugins-icon-container">
                    <label class="form-label" for="fpCodePhoneNumber">کد ارسالی</label>
                    <div class="input-group input-group-merge has-validation">
                        <input type="text" id="fpCodePhoneNumber" class="form-control phone-number-otp-mask text-start" dir="ltr" placeholder="****" value="" maxlength="6" />
                        <span class="input-group-text" dir="ltr"><i class='bx bx-message-alt-detail'></i></span>
                    </div>
                    <div class="fv-plugins-message-container invalid-feedback">
                        <label id="lblLoginErrorMsg"></label>
                    </div>
                </div>
            </div>
            <div class="modal-footer row">
                <button type="button" class="btn btn-danger col-4" id="backToPhoneNumber" disabled>02:00</button>
                <button type="button" class="btn btn-primary col-7" id="fpCodeValidate">ورود</button>

            </div>
        </div>
        <div  class="modal-content dspnone" id="divPass">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">بازیابی رمز عبور</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <span class="text-sm">لطفا رمز جدید را وارد نمایید</span>

                <div class="col-12 fv-plugins-icon-container">
                    <label class="form-label" for="fpPass">رمز</label>
                    <div class="input-group input-group-merge has-validation">
                        <input type="password" id="fpPass" class="form-control phone-number-otp-mask text-start" dir="ltr" placeholder="********" value="" />
                        <span class="input-group-text" dir="ltr"><i class='bx bx-message-alt-detail'></i></span>
                    </div>

                </div>
                <div class="col-12 fv-plugins-icon-container">
                    <label class="form-label" for="repass">تکرار رمز</label>
                    <div class="input-group input-group-merge has-validation">
                        <input type="password" id="repass" class="form-control phone-number-otp-mask text-start" dir="ltr" placeholder="********" value="" />
                        <span class="input-group-text" dir="ltr"><i class='bx bx-message-alt-detail'></i></span>
                    </div>
                    <div class="fv-plugins-message-container invalid-feedback">
                        <label id="lblLoginErrorMsg"></label>
                    </div>
                </div>
            </div>
            <div class="modal-footer row">
                <button type="button" class="btn btn-primary w100" id="resetPass">به روز رسانی رمز عبور</button>
            </div>
        </div>
    </div>
</div>

