<!DOCTYPE html>
<html lang="fa">
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>@ViewData["Title"]</title>
	<link rel="shortcut icon" href="~/site/images/favicon.png" type="image/x-icon">

<partial name="_styles" />

</head>
<body class="home-one">
	@RenderBody()
	<div class="page-wrapper">
		<div class="preloader"></div>
		@await Component.InvokeAsync("Header")
		<section class="hidden-bar" id="section_message">
			<div class="inner-box text-center">
				<div class="cross-icon"><span class="fa fa-times"></span></div>
				<div class="title">
					<h4>درخواست همکاری</h4>
				</div>
				<div class="appointment-form">
					<form method="post" action="contact.html">
						<div class="form-group">
							<input type="text" name="text" value="" placeholder="نام شما" required>
						</div>
						<div class="form-group">
							<input type="email" name="email" value="" placeholder="آدرس ایمیل" required>
						</div>
						<div class="form-group">
							<textarea placeholder="متن پیام" rows="5"></textarea>
						</div>
						<div class="form-group">
							<button type="submit" class="theme-btn">ارسال درخواست</button>
						</div>
					</form>
				</div>
				<div class="social-style-one">
					<a href="#"><i class="fab fa-twitter"></i></a>
					<a href="#"><i class="fab fa-facebook-f"></i></a>
					<a href="#"><i class="fab fa-instagram"></i></a>
					<a href="#"><i class="fab fa-pinterest-p"></i></a>
				</div>
			</div>
		</section>
		<div class="form-back-drop"></div>
		<section class="nav-bar" id="section_nav">
			<div class="inner-box">
				<div class="cross-icon"><span class="fa fa-times"></span></div>

				<nav class="main-menu">

					<ul class="navigation navbar-collapse clearfix collapse show">

						<li class="dropdown">
							<a href="#">اصلی</a>
							<ul>
								<li><a href="index.html">چند صفحه ای</a></li>
								<li><a href="indexonepage.html">تک صفحه</a></li>
							</ul>
							<div class="dropdown-btn"><span class="fas fa-chevron-down"></span></div>
						</li>

						<li><a href="about.html">درباره من</a></li>

						<li><a href="services.html">خدمات</a></li>

						<li class="dropdown">
							<a href="#">نمونه کارها</a>
							<ul>
								<li><a href="projects.html">نمایش گرید</a></li>
								<li><a href="projects-masonry.html">نمایش شبکه ای</a></li>
								<li><a href="project-details.html">جزئیات نمونه کار</a></li>
							</ul>
							<div class="dropdown-btn"><span class="fas fa-chevron-down"></span></div>
						</li>
						<li class="dropdown">
							<a href="#">بلاگ</a>
							<ul>
								<li><a href="blog.html">لیست پست ها</a></li>
								<li><a href="blog-details.html">جزئیات پست</a></li>
							</ul>
							<div class="dropdown-btn"><span class="fas fa-chevron-down"></span></div>
						</li>
						<li class="dropdown">
							<a href="#">سایر</a>
							<ul>
								<li><a href="404.html">صفحه ارور</a></li>
							</ul>
							<div class="dropdown-btn"><span class="fas fa-chevron-down"></span></div>
						</li>

						<li><a href="contact.html">تماس با من</a></li>

					</ul>

				</nav>

			</div>
		</section>
		<div class="nav-back-drop"></div>
		<section id="home" class="main-hero-area pt-150 pb-30 rel z-1">
			<div class="container container-1620">
				<div class="row align-items-center">
					<div class="col-lg-4 col-sm-7">
						<div class="hero-content rmb-55 wow fadeInUp delay-0-2s">
							<span class="h2">سلام، من </span>

							<h2 class="highlight">
								<span>نوید محمدزاده</span>
								<br>یک
								<tspan class="element" data-elements="گرافیست.,برنامه نویس."></tspan>
							</h2>

							<p>
								با تجربه و مهارتی که طی این سال ها بدست آوردم شما رو در طول مسیر کسب و کار و ایدتون
								همراهی می کنم.
							</p>
							<div class="hero-btns">
								<a href="contact.html" class="theme-btn">
									درخواست همکاری
									<i class="far fa-angle-left"></i>
								</a>
								<a href="contact.html" class="read-more">دانلود رزومه <i class="far fa-angle-left"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-5 order-lg-3">
						<div class="hero-counter-wrap ms-lg-auto rmb-55 wow fadeInUp delay-0-4s">
							<div class="counter-item counter-text-wrap">
								<span class="count-text plus" data-speed="3000" data-stop="5">0</span>
								<span class="counter-title">سال تجربه</span>
							</div>
							<div class="counter-item counter-text-wrap">
								<span class="count-text k-plus" data-speed="3000" data-stop="10">0</span>
								<span class="counter-title">پروژه موفق</span>
							</div>
							<div class="counter-item counter-text-wrap">
								<span class="count-text percent" data-speed="3000" data-stop="95">0</span>
								<span class="counter-title">رضایت مشتریان</span>
							</div>
						</div>
					</div>
					<div class="col-lg-5 mobile-hidden">
						<div class="author-image-part wow fadeIn delay-0-3s">
							<div class="bg-circle"></div>
							<img src="~/site/images/hero/me.png" alt="Author">
							<div class="progress-shape">
								<img src="~/site/images/hero/progress-shape.png" alt="Progress">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bg-lines">
				<span></span><span></span>
				<span></span><span></span>
				<span></span><span></span>
				<span></span><span></span>
				<span></span><span></span>
			</div>
		</section>
		<section id="about" class="about-area rel z-1 bgc-black">
			<div class="py-130 rpy-50">
				<div class="container">
					<div class="row gap-100 align-items-center">
						<div class="col-lg-7">
							<div class="about-content-part rel z-2 rmb-55">
								<div class="section-title mb-35 wow fadeInUp delay-0-2s">
									<span class="sub-title mb-15">درباره من</span>
									<h2 class="highlight">استارتاپ از <span>0 تا 100 با من</span> </h2>
									<p>
										با تجربه ای که طی این سالها با انجام پروژه در حوزه های مختلف به دست اورده ام می توانم
										شما را در رسیدن به ایده آل کسب و کارتان همراهی کنم.
									</p>
								</div>
								<ul class="list-style-one two-column wow fadeInUp delay-0-2s">
									<li>طراحی برند</li>
									<li>دیجیتال مارکتینگ</li>
									<li>طراحی سایت</li>
									<li>توسعه اپلیکیشن</li>
								</ul>
								<div class="about-info-box mt-25 wow fadeInUp delay-0-2s">
									<div class="info-box-item">
										<i class="far fa-envelope"></i>
										<div class="content">
											<span>ایمیل من</span><br>
											<a href="mailto:support@gmail.com">support@gmail.com</a>
										</div>
									</div>
									<div class="info-box-item">
										<i class="far fa-phone"></i>
										<div class="content">
											<span>شماره تماس</span><br>
											<a href="callto:+989130000000" class="phone-number">0000 000 913 98+</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-5 mobile-hidden">
							<div class="about-image-part wow fadeInUp delay-0-3s">
								<img src="~/site/images/about/about.jpg" alt="About Me">
								<div class="about-btn btn-one wow fadeInRight delay-0-4s">
									<img src="~/site/images/about/btn-image1.png" alt="Image">
									<h6>طراحی تجربه کاربری</h6>
								</div>
								<div class="about-btn btn-two wow fadeInRight delay-0-5s">
									<img src="~/site/images/about/btn-image2.png" alt="Image">
									<h6>دیجیتال مارکتینگ</h6>
								</div>
								<div class="dot-shape">
									<img src="~/site/images/shape/about-dot.png" alt="Shape">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bg-lines">
				<span></span><span></span>
				<span></span><span></span>
				<span></span><span></span>
				<span></span><span></span>
				<span></span><span></span>
			</div>
		</section>
		<section id="resume" class="resume-area pt-130 rpt-50 rel z-1">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 mobile-hidden">
						<div class="big-icon mt-85 rmt-0 rmb-55 wow fadeInUp delay-0-2s">
							<i class="flaticon-asterisk-1"></i>
						</div>
					</div>
					<div class="col-lg-9">
						<div class="row">
							<div class="col-xl-8 col-lg-9">
								<div class="section-title mb-60 wow fadeInUp delay-0-2s">
									<span class="sub-title mb-15">رزومه من</span>
									<h2 class="highlight">برخی از <span>سوابق کاری</span> من</h2>
								</div>
							</div>
						</div>
						<div class="resume-items-wrap">
							<div class="row justify-content-between">
								<div class="col-xl-5 col-md-6">
									<div class="resume-item wow fadeInUp delay-0-3s">
										<div class="icon">
											<i class="far fa-arrow-right"></i>
										</div>
										<div class="content">
											<span class="years">1400 - تاکنون</span>
											<h4>سنیور دولوپر</h4>
											<span class="company">شاتل</span>
										</div>
									</div>
								</div>
								<div class="col-xl-5 col-md-6">
									<div class="resume-item wow fadeInUp delay-0-4s">
										<div class="icon">
											<i class="far fa-arrow-right"></i>
										</div>
										<div class="content">
											<span class="years">1398 - 1400</span>
											<h4>طراح رابط کاربری</h4>
											<span class="company">همراه اول</span>
										</div>
									</div>
								</div>
								<div class="col-xl-5 col-md-6">
									<div class="resume-item wow fadeInUp delay-0-2s">
										<div class="icon">
											<i class="far fa-arrow-right"></i>
										</div>
										<div class="content">
											<span class="years">1396 - 1398</span>
											<h4>طراح محصول</h4>
											<span class="company">دیجیکالا</span>
										</div>
									</div>
								</div>
								<div class="col-xl-5 col-md-6">
									<div class="resume-item wow fadeInUp delay-0-4s">
										<div class="icon">
											<i class="far fa-arrow-right"></i>
										</div>
										<div class="content">
											<span class="years">1394 - 1396</span>
											<h4>برنامه نویس موبایل</h4>
											<span class="company">دیوار</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bg-lines">
				<span></span><span></span>
				<span></span><span></span>
				<span></span><span></span>
				<span></span><span></span>
				<span></span><span></span>
			</div>
		</section>
		<section id="services" class="services-area pt-130 rpt-100 pb-100 rpb-70 rel z-1">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xl-6 col-lg-8">
						<div class="section-title highlight text-center mb-60 wow fadeInUp delay-0-2s">
							<h2><span>خدمات ویژه من</span> برای <br> توسعه <span>کسب و کار شما</span></h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="service-item wow fadeInUp delay-0-2s">
							<div class="number">1.</div>
							<div class="content">
								<h4>هویت بصری برند</h4>
								<p>طراحی لوگو ، سربرگ ، کارت ویزیت و...</p>
							</div>
							<a href="services.html" class="details-btn"><i class="fas fa-arrow-right"></i></a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="service-item wow fadeInUp delay-0-4s">
							<div class="number">2.</div>
							<div class="content">
								<h4>توسعه وب سایت</h4>
								<p>طراحی و توسعه انواع سایت ها در سریع ترین زمان</p>
							</div>
							<a href="services.html" class="details-btn"><i class="fas fa-arrow-right"></i></a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="service-item wow fadeInUp delay-0-2s">
							<div class="number">3.</div>
							<div class="content">
								<h4>تولید اپلیکیشن موبایل</h4>
								<p>ساخت اپلیکیشن اندروید و ios با بهترین کیفیت</p>
							</div>
							<a href="services.html" class="details-btn"><i class="fas fa-arrow-right"></i></a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="service-item wow fadeInUp delay-0-4s">
							<div class="number">4.</div>
							<div class="content">
								<h4>طراحی رابط کاربری</h4>
								<p>طراحی ساده و شکیل متناسب با ترندهای جهانی</p>
							</div>
							<a href="services.html" class="details-btn"><i class="fas fa-arrow-right"></i></a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="service-item wow fadeInUp delay-0-2s">
							<div class="number">5.</div>
							<div class="content">
								<h4>طراحی محصول</h4>
								<p> ایده پردازی و خلق محصولات برطرف کننده نیاز کاربر</p>
							</div>
							<a href="services.html" class="details-btn"><i class="fas fa-arrow-right"></i></a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="service-item wow fadeInUp delay-0-4s">
							<div class="number">6.</div>
							<div class="content">
								<h4>سئو و دیجیتال مارکتینگ</h4>
								<p>بهینه سازی سئو و افزایش ترافیک سایت</p>
							</div>
							<a href="services.html" class="details-btn"><i class="fas fa-arrow-right"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="bg-lines">
				<span></span><span></span>
				<span></span><span></span>
				<span></span><span></span>
				<span></span><span></span>
				<span></span><span></span>
			</div>
		</section>
		<section id="skills" class="skill-area rel z-1 bgc-black">
			<div class="pt-130 rpt-100 pb-100 rpb-70">
				<div class="container">
					<div class="row gap-100">
						<div class="col-lg-5">
							<div class="skill-content-part rel z-2 rmb-55 wow fadeInUp delay-0-2s">
								<div class="section-title mb-40">
									<span class="sub-title mb-15">مهارت های من</span>
									<div class="highlight">
										<h2>بکارگیری <span>مهارت های بـروز </span> دنیای IT </h2>
									</div>
									<p>
										فردی پر تلاش و با انگیزه هستم که سعی میکنم خود را به روز نگه دارم و به نیاز مشتریان
										خود پاسخ دهم.
									</p>
								</div>
								<a href="about.html" class="theme-btn">بیشتر بدانید <i class="far fa-angle-left"></i></a>
							</div>
						</div>
						<div class="col-lg-7">
							<div class="skill-items-wrap">
								<div class="row">
									<div class="col-xl-3 col-lg-4 col-md-3 col-sm-4 col-6">
										<div class="skill-item wow fadeInUp delay-0-2s">
											<img src="~/site/images/skills/skill1.png" alt="Skill">
											<h5>Figma</h5>
											<span class="percent">%95</span>
										</div>
									</div>
									<div class="col-xl-3 col-lg-4 col-md-3 col-sm-4 col-6">
										<div class="skill-item wow fadeInUp delay-0-3s">
											<img src="~/site/images/skills/skill2.png" alt="Skill">
											<h5>Flutter</h5>
											<span class="percent">%90</span>
										</div>
									</div>
									<div class="col-xl-3 col-lg-4 col-md-3 col-sm-4 col-6">
										<div class="skill-item wow fadeInUp delay-0-4s">
											<img src="~/site/images/skills/skill3.png" alt="Skill">
											<h5>PhotoShop</h5>
											<span class="percent">%85</span>
										</div>
									</div>
									<div class="col-xl-3 col-lg-4 col-md-3 col-sm-4 col-6">
										<div class="skill-item wow fadeInUp delay-0-5s">
											<img src="~/site/images/skills/skill4.png" alt="Skill">
											<h5>WordPress</h5>
											<span class="percent">%80</span>
										</div>
									</div>
									<div class="col-xl-3 col-lg-4 col-md-3 col-sm-4 col-6">
										<div class="skill-item wow fadeInUp delay-0-2s">
											<img src="~/site/images/skills/skill5.png" alt="Skill">
											<h5>Angular</h5>
											<span class="percent">%75</span>
										</div>
									</div>
									<div class="col-xl-3 col-lg-4 col-md-3 col-sm-4 col-6">
										<div class="skill-item wow fadeInUp delay-0-3s">
											<img src="~/site/images/skills/skill6.png" alt="Skill">
											<h5>React</h5>
											<span class="percent">%70</span>
										</div>
									</div>
									<div class="col-xl-3 col-lg-4 col-md-3 col-sm-4 col-6">
										<div class="skill-item wow fadeInUp delay-0-4s">
											<img src="~/site/images/skills/skill7.png" alt="Skill">
											<h5>Python</h5>
											<span class="percent">%65</span>
										</div>
									</div>
									<div class="col-xl-3 col-lg-4 col-md-3 col-sm-4 col-6">
										<div class="skill-item wow fadeInUp delay-0-5s">
											<img src="~/site/images/skills/skill8.png" alt="Skill">
											<h5>Sketch</h5>
											<span class="percent">%60</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bg-lines">
				<span></span><span></span>
				<span></span><span></span>
				<span></span><span></span>
				<span></span><span></span>
				<span></span><span></span>
			</div>
		</section>
		<section id="portfolio" class="projects-area pt-130 rpt-100 pb-100 rpb-70 rel z-1">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xl-12">
						<div class="section-title text-center mb-60 wow fadeInUp delay-0-2s">
							<span class="sub-title mb-15">نمونه کار ها</span>
							<div class="highlight">
								<h2>پروژه های <span>برگزیده</span></h2>
							</div>
						</div>
					</div>
				</div>
				<div class="row align-items-center pb-25">
					<div class="col-lg-6">
						<div class="project-image wow fadeInLeft delay-0-2s">
							<img src="~/site/images/projects/project1.jpg" alt="Project">
						</div>
					</div>
					<div class="col-xl-5 col-lg-6">
						<div class="project-content wow fadeInRight delay-0-2s">
							<span class="sub-title">طراحی رابط کاربری</span>
							<h2><a href="project-details.html">طراحی UI اپلیکیشن موبایل</a></h2>
							<p>طراحی رابط کاربری اپلیکیشن مد و استایل در دو تم روز و شب همراه با لوگو و آیکن پک اختصاصی</p>
							<a href="project-details.html" class="details-btn"><i class="far fa-arrow-right"></i></a>
						</div>
					</div>
				</div>
				<div class="row align-items-center pb-25">
					<div class="col-lg-6 order-lg-2">
						<div class="project-image wow fadeInLeft delay-0-2s">
							<img src="~/site/images/projects/project2.jpg" alt="Project">
						</div>
					</div>
					<div class="col-xl-5 col-lg-6 ms-auto">
						<div class="project-content wow fadeInRight delay-0-2s">
							<span class="sub-title">طراحی سایت</span>
							<h2><a href="project-details.html">طراحی سایت فروشگاه</a></h2>
							<p>طراحی قالب سایت فروشگاهی با المنتور و وردپرس همراه با پشتیبانی و وب اپلیکیشن</p>
							<a href="project-details.html" class="details-btn"><i class="far fa-arrow-right"></i></a>
						</div>
					</div>
				</div>
				<div class="row align-items-center pb-25">
					<div class="col-lg-6">
						<div class="project-image wow fadeInLeft delay-0-2s">
							<img src="~/site/images/projects/project3.jpg" alt="Project">
						</div>
					</div>
					<div class="col-xl-5 col-lg-6">
						<div class="project-content wow fadeInRight delay-0-2s">
							<span class="sub-title">برندینگ</span>
							<h2><a href="project-details.html">طراحی هویت بصری برند</a></h2>
							<p>طراحی سربرگ ، لوگو ، کارت ویزیت و تیزر معرفی برای برند شخصی جان هنری</p>
							<a href="project-details.html" class="details-btn"><i class="far fa-arrow-right"></i></a>
						</div>
					</div>
				</div>
				<div class="row align-items-center pb-25">
					<div class="col-lg-6 order-lg-2">
						<div class="project-image wow fadeInLeft delay-0-2s">
							<img src="~/site/images/projects/project4.jpg" alt="Project">
						</div>
					</div>
					<div class="col-xl-5 col-lg-6 ms-auto">
						<div class="project-content wow fadeInRight delay-0-2s">
							<span class="sub-title">اپلیکیشن موبایل</span>
							<h2><a href="project-details.html">توسعه اپلیکیشن موبایل</a></h2>
							<p>تولید اپلیکیشن اندروید و ios فروشگاه لباس بصورت رسپانسیو به همراه پنل مدیریت اختصاصی</p>
							<a href="project-details.html" class="details-btn"><i class="far fa-arrow-right"></i></a>
						</div>
					</div>
				</div>
				<div class="project-btn text-center wow fadeInUp delay-0-2s">
					<a href="projects.html" class="theme-btn">بقیه پروژه ها <i class="far fa-angle-left"></i></a>
				</div>
			</div>
			<div class="bg-lines">
				<span></span><span></span>
				<span></span><span></span>
				<span></span><span></span>
				<span></span><span></span>
				<span></span><span></span>
			</div>
		</section>
		<section class="testimonials-area rel z-1 bgc-black">
			<div class="py-130 rpy-100">
				<div class="container">
					<div class="row gap-90">
						<div class="col-lg-4">
							<div class="testimonials-content-part rel z-2 rmb-55 wow fadeInUp delay-0-2s">
								<div class="section-title mb-40">
									<span class="sub-title mb-15">نظر مشتریان</span>
									<h2 class="highlight">
										<span>نظر و بازخورد مشتریان</span>
										<br>درمورد همکاری با من
									</h2>
									<p>در اینجا بازخورد برخی از مشتریانم را قرارداده ام و خوشحالم که 95% آنها از خدمات من راضی بوده اند. </p>
								</div>
								<div class="slider-arrows">
									<button class="testimonial-prev"><i class="fa fa-arrow-right"></i></button>
									<button class="testimonial-next"><i class="fa fa-arrow-left"></i></button>
								</div>
							</div>
						</div>
						<div class="col-lg-8">
							<div class="testimonials-wrap">
								<div class="testimonial-item wow fadeInUp delay-0-3s">
									<div class="author">
										<img src="~/site/images/testimonials/author1.png" alt="Author">
									</div>
									<div class="text">
										همه موارد به موقع و طبق خواسته ما انجام شد ، به ما تخفیف دادن و در جریان تغییرات مرحله به مرحله پروژه قرار گرفتیم و این تنها همکاری ما نخواهد بود.
									</div>
									<div class="testi-des">
										<h5>آرشا سمیعی</h5>
										<span>مدیرعامل</span>
									</div>
								</div>
								<div class="testimonial-item wow fadeInUp delay-0-4s">
									<div class="author">
										<img src="~/site/images/testimonials/author2.png" alt="Author">
									</div>
									<div class="text">
										اپلیکیشن و سایت دقیقا مشابه UI ارسالی انجام شد و اکثر اوقات دردسترس بودن ، تجربه کار با ایشان برای من یک اتفاق خوشایند بود.
									</div>
									<div class="testi-des">
										<h5>نیکا سعادتمند</h5>
										<span>گرافیست</span>
									</div>
								</div>
								<div class="testimonial-item wow fadeInUp delay-0-2s">
									<div class="author">
										<img src="~/site/images/testimonials/author3.png" alt="Author">
									</div>
									<div class="text">
										سربرگ ، کارت ویزیت و موارد گرافیکی در رابطه با برند جدید ما به بهترین نحو انجام دادن و جلسات بسیار سودبخشی با ما داشتند ازین بابت رضایت کامل دارم.
									</div>
									<div class="testi-des">
										<h5>رضا فرهمند</h5>
										<span>مدیر بازاریابی</span>
									</div>
								</div>
								<div class="testimonial-item wow fadeInUp delay-0-2s">
									<div class="author">
										<img src="~/site/images/testimonials/author4.png" alt="Author">
									</div>
									<div class="text">
										بسیار منظم و متعهد می باشند و پروژه را با کیفیت مطلوبی به اتمام رساندند . پشتیبانی خوبی هم داشتند قطعا از ایشان بیشتر در کسب و کارمان استفاده می کنیم.
									</div>
									<div class="testi-des">
										<h5>پانته آ شکوهی</h5>
										<span>مسئول فروش</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bg-lines">
				<span></span><span></span>
				<span></span><span></span>
				<span></span><span></span>
				<span></span><span></span>
				<span></span><span></span>
			</div>
		</section>
		<section class="pricing-area pt-130 rpt-100 rel z-1">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xl-12">
						<div class="section-title highlight text-center mb-60 wow fadeInUp delay-0-2s">
							<p class="sub-title mb-15">قیمت گذاری</p>
							<h2>تعرفه <span>بصرفه</span> برای همکاری </h2>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-lg-4 col-md-6">
						<div class="pricing-item wow fadeInUp delay-0-2s">
							<div class="pricing-header">
								<h4 class="title">اقتصادی</h4>
								<p class="save-percent">دارای <span>30%</span> تخفیف اولین همکاری</p>
								<span class="price">
									10٬000٬000
									<svg style="width: 25px; height: 25px; fill: var(--primary-color);">
										<use xlink:href="#toman">
											<symbol id="toman" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14">
												<path fill-rule="evenodd" d="M3.057 1.742L3.821 1l.78.75-.776.741-.768-.749zm3.23 2.48c0 .622-.16 1.111-.478 1.467-.201.221-.462.39-.783.505a3.251 3.251 0 01-1.083.163h-.555c-.421 0-.801-.074-1.139-.223a2.045 2.045 0 01-.9-.738A2.238 2.238 0 011 4.148c0-.059.001-.117.004-.176.03-.55.204-1.158.525-1.827l1.095.484c-.257.532-.397 1-.419 1.403-.002.04-.004.08-.004.12 0 .252.055.458.166.618a.887.887 0 00.5.354c.085.028.178.048.278.06.079.01.16.014.243.014h.555c.458 0 .769-.081.933-.244.14-.139.21-.383.21-.731V2.02h1.2v2.202zm5.433 3.184l-.72-.7.709-.706.735.707-.724.7zm-2.856.308c.542 0 .973.19 1.293.569.297.346.445.777.445 1.293v.364h.18v-.004h.41c.221 0 .377-.028.467-.084.093-.055.14-.14.14-.258v-.069c.004-.243.017-1.044 0-1.115L13 8.05v1.574a1.4 1.4 0 01-.287.863c-.306.405-.804.607-1.495.607h-.627c-.061.733-.434 1.257-1.117 1.573-.267.122-.58.21-.937.265a5.845 5.845 0 01-.914.067v-1.159c.612 0 1.072-.082 1.38-.247.25-.132.376-.298.376-.499h-.515c-.436 0-.807-.113-1.113-.339-.367-.273-.55-.667-.55-1.18 0-.488.122-.901.367-1.24.296-.415.728-.622 1.296-.622zm.533 2.226v-.364c0-.217-.048-.389-.143-.516a.464.464 0 00-.39-.187.478.478 0 00-.396.187.705.705 0 00-.136.449.65.65 0 00.003.067c.008.125.066.22.177.283.093.054.21.08.352.08h.533zM9.5 6.707l.72.7.724-.7L10.209 6l-.709.707zm-6.694 4.888h.03c.433-.01.745-.106.937-.29.024.012.065.035.12.068l.074.039.081.042c.135.073.261.133.379.18.345.146.67.22.977.22a1.216 1.216 0 00.87-.34c.3-.285.449-.714.449-1.286a2.19 2.19 0 00-.335-1.145c-.299-.457-.732-.685-1.3-.685-.502 0-.916.192-1.242.575-.113.132-.21.284-.294.456-.032.062-.06.125-.084.191a.504.504 0 00-.03.078 1.67 1.67 0 00-.022.06c-.103.309-.171.485-.205.53-.072.09-.214.14-.427.147-.123-.005-.209-.03-.256-.076-.057-.054-.085-.153-.085-.297V7l-1.201-.5v3.562c0 .261.048.496.143.703.071.158.168.296.29.413.123.118.266.211.43.28.198.084.42.13.665.136v.001h.036zm2.752-1.014a.778.778 0 00.044-.353.868.868 0 00-.165-.47c-.1-.134-.217-.201-.35-.201-.18 0-.33.103-.447.31-.042.071-.08.158-.114.262a2.434 2.434 0 00-.04.12l-.015.053-.015.046c.142.118.323.216.544.293.18.062.325.092.433.092.044 0 .086-.05.125-.152z" clip-rule="evenodd"></path>
											</symbol>
										</use>
									</svg>
								</span>
							</div>
							<div class="pricing-details">
								<p>مناسب برای استارتاپ های نوپا</p>
								<ul>
									<li>طراحی سایت وردپرس</li>
									<li>اپلیکیشن pwa</li>
									<li class="unable">طراحی هویت بصری</li>
									<li class="unable">دیجیتال مارکتینگ</li>
									<li class="unable">پشتیبانی</li>
								</ul>
								<a href="contact.html" class="theme-btn">
									انتخاب پلن
									<i class="far fa-angle-left"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="pricing-item wow fadeInUp delay-0-4s">
							<div class="pricing-header">
								<h4 class="title">پیشرفته</h4>
								<p class="save-percent">شامل <span>6 ماه</span> پشتیبانی رایگان</p>
								<span class="price">
									25٬000٬000
									<svg style="width: 25px; height: 25px; fill: var(--primary-color);">
										<use xlink:href="#toman">
											<symbol id="toman" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14">
												<path fill-rule="evenodd" d="M3.057 1.742L3.821 1l.78.75-.776.741-.768-.749zm3.23 2.48c0 .622-.16 1.111-.478 1.467-.201.221-.462.39-.783.505a3.251 3.251 0 01-1.083.163h-.555c-.421 0-.801-.074-1.139-.223a2.045 2.045 0 01-.9-.738A2.238 2.238 0 011 4.148c0-.059.001-.117.004-.176.03-.55.204-1.158.525-1.827l1.095.484c-.257.532-.397 1-.419 1.403-.002.04-.004.08-.004.12 0 .252.055.458.166.618a.887.887 0 00.5.354c.085.028.178.048.278.06.079.01.16.014.243.014h.555c.458 0 .769-.081.933-.244.14-.139.21-.383.21-.731V2.02h1.2v2.202zm5.433 3.184l-.72-.7.709-.706.735.707-.724.7zm-2.856.308c.542 0 .973.19 1.293.569.297.346.445.777.445 1.293v.364h.18v-.004h.41c.221 0 .377-.028.467-.084.093-.055.14-.14.14-.258v-.069c.004-.243.017-1.044 0-1.115L13 8.05v1.574a1.4 1.4 0 01-.287.863c-.306.405-.804.607-1.495.607h-.627c-.061.733-.434 1.257-1.117 1.573-.267.122-.58.21-.937.265a5.845 5.845 0 01-.914.067v-1.159c.612 0 1.072-.082 1.38-.247.25-.132.376-.298.376-.499h-.515c-.436 0-.807-.113-1.113-.339-.367-.273-.55-.667-.55-1.18 0-.488.122-.901.367-1.24.296-.415.728-.622 1.296-.622zm.533 2.226v-.364c0-.217-.048-.389-.143-.516a.464.464 0 00-.39-.187.478.478 0 00-.396.187.705.705 0 00-.136.449.65.65 0 00.003.067c.008.125.066.22.177.283.093.054.21.08.352.08h.533zM9.5 6.707l.72.7.724-.7L10.209 6l-.709.707zm-6.694 4.888h.03c.433-.01.745-.106.937-.29.024.012.065.035.12.068l.074.039.081.042c.135.073.261.133.379.18.345.146.67.22.977.22a1.216 1.216 0 00.87-.34c.3-.285.449-.714.449-1.286a2.19 2.19 0 00-.335-1.145c-.299-.457-.732-.685-1.3-.685-.502 0-.916.192-1.242.575-.113.132-.21.284-.294.456-.032.062-.06.125-.084.191a.504.504 0 00-.03.078 1.67 1.67 0 00-.022.06c-.103.309-.171.485-.205.53-.072.09-.214.14-.427.147-.123-.005-.209-.03-.256-.076-.057-.054-.085-.153-.085-.297V7l-1.201-.5v3.562c0 .261.048.496.143.703.071.158.168.296.29.413.123.118.266.211.43.28.198.084.42.13.665.136v.001h.036zm2.752-1.014a.778.778 0 00.044-.353.868.868 0 00-.165-.47c-.1-.134-.217-.201-.35-.201-.18 0-.33.103-.447.31-.042.071-.08.158-.114.262a2.434 2.434 0 00-.04.12l-.015.053-.015.046c.142.118.323.216.544.293.18.062.325.092.433.092.044 0 .086-.05.125-.152z" clip-rule="evenodd"></path>
											</symbol>
										</use>
									</svg>
								</span>
							</div>
							<div class="pricing-details">
								<p>بسته کاملی از نیاز های اساسی یک استارتاپ</p>
								<ul>
									<li>طراحی سایت اختصاصی</li>
									<li>توسعه اپلیکیشن موبایل</li>
									<li>پک کامل گرافیکی</li>
									<li>طراحی هویت بصری</li>
									<li class="unable">دیجیتال مارکتینگ</li>
								</ul>
								<a href="contact.html" class="theme-btn">
									انتخاب پلن
									<i class="far fa-angle-left"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="pricing-item wow fadeInUp delay-0-6s">
							<div class="pricing-header">
								<h4 class="title">ویـژه</h4>
								<p class="save-percent">شامل <span>10 ساعت</span> جلسه حضوری</p>
								<span class="price">
									35٬000٬000
									<svg style="width: 25px; height: 25px; fill: var(--primary-color);">
										<use xlink:href="#toman">
											<symbol id="toman" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14">
												<path fill-rule="evenodd" d="M3.057 1.742L3.821 1l.78.75-.776.741-.768-.749zm3.23 2.48c0 .622-.16 1.111-.478 1.467-.201.221-.462.39-.783.505a3.251 3.251 0 01-1.083.163h-.555c-.421 0-.801-.074-1.139-.223a2.045 2.045 0 01-.9-.738A2.238 2.238 0 011 4.148c0-.059.001-.117.004-.176.03-.55.204-1.158.525-1.827l1.095.484c-.257.532-.397 1-.419 1.403-.002.04-.004.08-.004.12 0 .252.055.458.166.618a.887.887 0 00.5.354c.085.028.178.048.278.06.079.01.16.014.243.014h.555c.458 0 .769-.081.933-.244.14-.139.21-.383.21-.731V2.02h1.2v2.202zm5.433 3.184l-.72-.7.709-.706.735.707-.724.7zm-2.856.308c.542 0 .973.19 1.293.569.297.346.445.777.445 1.293v.364h.18v-.004h.41c.221 0 .377-.028.467-.084.093-.055.14-.14.14-.258v-.069c.004-.243.017-1.044 0-1.115L13 8.05v1.574a1.4 1.4 0 01-.287.863c-.306.405-.804.607-1.495.607h-.627c-.061.733-.434 1.257-1.117 1.573-.267.122-.58.21-.937.265a5.845 5.845 0 01-.914.067v-1.159c.612 0 1.072-.082 1.38-.247.25-.132.376-.298.376-.499h-.515c-.436 0-.807-.113-1.113-.339-.367-.273-.55-.667-.55-1.18 0-.488.122-.901.367-1.24.296-.415.728-.622 1.296-.622zm.533 2.226v-.364c0-.217-.048-.389-.143-.516a.464.464 0 00-.39-.187.478.478 0 00-.396.187.705.705 0 00-.136.449.65.65 0 00.003.067c.008.125.066.22.177.283.093.054.21.08.352.08h.533zM9.5 6.707l.72.7.724-.7L10.209 6l-.709.707zm-6.694 4.888h.03c.433-.01.745-.106.937-.29.024.012.065.035.12.068l.074.039.081.042c.135.073.261.133.379.18.345.146.67.22.977.22a1.216 1.216 0 00.87-.34c.3-.285.449-.714.449-1.286a2.19 2.19 0 00-.335-1.145c-.299-.457-.732-.685-1.3-.685-.502 0-.916.192-1.242.575-.113.132-.21.284-.294.456-.032.062-.06.125-.084.191a.504.504 0 00-.03.078 1.67 1.67 0 00-.022.06c-.103.309-.171.485-.205.53-.072.09-.214.14-.427.147-.123-.005-.209-.03-.256-.076-.057-.054-.085-.153-.085-.297V7l-1.201-.5v3.562c0 .261.048.496.143.703.071.158.168.296.29.413.123.118.266.211.43.28.198.084.42.13.665.136v.001h.036zm2.752-1.014a.778.778 0 00.044-.353.868.868 0 00-.165-.47c-.1-.134-.217-.201-.35-.201-.18 0-.33.103-.447.31-.042.071-.08.158-.114.262a2.434 2.434 0 00-.04.12l-.015.053-.015.046c.142.118.323.216.544.293.18.062.325.092.433.092.044 0 .086-.05.125-.152z" clip-rule="evenodd"></path>
											</symbol>
										</use>
									</svg>
								</span>
							</div>
							<div class="pricing-details">
								<p>همه کار هارو به من بسپارید</p>
								<ul>
									<li>طراحی سایت اختصاصی</li>
									<li>توسعه اپلیکیشن موبایل</li>
									<li>پک کامل گرافیکی</li>
									<li>طراحی هویت بصری</li>
									<li>دیجیتال مارکتینگ</li>
								</ul>
								<a href="contact.html" class="theme-btn">
									انتخاب پلن
									<i class="far fa-angle-left"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bg-lines">
				<span></span><span></span>
				<span></span><span></span>
				<span></span><span></span>
				<span></span><span></span>
				<span></span><span></span>
			</div>
		</section>
		<section id="contact" class="contact-area pt-95 pb-130 rpt-70 rpb-100 rel z-1">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-4 mobile-hidden">
						<div class="contact-page-content rmb-55 wow fadeInUp delay-0-2s">
							<div class="section-title mb-30">
								<span class="sub-title mb-15">ارتباط با من</span>
								<h2 class="lh-normal highlight">برای انجام پروژه به من <span>درخواست دهید</span></h2>
								<p>پیام خود را برای من بفرستید تا در اسرع وقت با شما تماس بگیرم</p>
							</div>
							<ul class="list-style-two">
								<li>5+ سال تجربه</li>
								<li>10+ پروژه موفق</li>
								<li>%95 رضایت مشتریان</li>
								<li>همیشه دردسترس</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-8">
						<div class="contact-page-form contact-form form-style-one wow fadeInUp delay-0-2s">
							<form id="contactForm" class="contactForm" name="contactForm" action="~/site/php/form-process.php" method="post">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="name">نام شما</label>
											<input type="text" id="name" name="name" class="form-control" value="" placeholder="" required data-error="لطفا نام خود را وارد کنید">
											<label for="name" class="for-icon"><i class="far fa-user"></i></label>
											<div class="help-block with-errors"></div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="email">آدرس ایمیل</label>
											<input type="email" id="email" name="email" class="form-control" value="" placeholder="" required data-error="لطفا ایمیل را وارد کنید">
											<label for="email" class="for-icon"><i class="far fa-envelope"></i></label>
											<div class="help-block with-errors"></div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="phone_number">شماره موبایل</label>
											<input type="text" id="phone_number" name="phone_number" class="form-control" value="" placeholder="" required data-error="لطفا شماره موبایل را وارد کنید">
											<label for="phone_number" class="for-icon"><i class="far fa-mobile"></i></label>
											<div class="help-block with-errors"></div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="subject">موضوع</label>
											<input type="text" id="subject" name="subject" class="form-control" value="" placeholder="" required data-error="لطفا عنوان را وارد کنید">
											<label for="subject" class="for-icon"><i class="far fa-text"></i></label>
											<div class="help-block with-errors"></div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<label for="message">متن پیام</label>
											<textarea name="message" id="message" class="form-control" rows="4" placeholder="تایپ کنید..." required data-error="لطفا پیام را تایپ کنید"></textarea>
											<div class="help-block with-errors"></div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group mb-0">
											<button type="submit" class="theme-btn">
												ارسال پیام
												<i class="far fa-angle-left"></i>
											</button>
											<div id="msgSubmit" class="hidden"></div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="bg-lines">
				<span></span><span></span>
				<span></span><span></span>
				<span></span><span></span>
				<span></span><span></span>
				<span></span><span></span>
			</div>
		</section>
		<section id="blog" class="blog-area rel z-1 bgc-black">
			<div class="pt-130 pb-100 rpt-100 rpb-70">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-xl-12">
							<div class="section-title text-center mb-60 wow fadeInUp delay-0-2s">
								<span class="sub-title mb-15">اخبار و بلاگ</span>
								<h2 class="highlight"><span>جدیدترین</span> مقالات</h2>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<div class="blog-item wow fadeInUp delay-0-2s">
								<div class="image">
									<img src="~/site/images/blog/blog1.png" alt="Blog">
								</div>
								<div class="content">
									<div class="blog-meta mb-20">
										<a class="tag" href="blog.html">طراحی</a>
										<a class="tag" href="blog.html">فیگما</a>
									</div>
									<h5 class="mb-10"><a href="blog-details.html">نقشه راه Front-End</a></h5>
									<span class="ellipsis-3">در گام اول به صورت مختصر مروری بر مفاهیم و منابع Front-End خواهیم داشت. در گام دوم و سوم مباحث آموزشی و منابع را بررسی کرده، در گام چهارم و پنجم بر حوزه‌های شغلی و زمان موردنیاز برای شروع کار در این حوزه صحبت خواهیم کرد. در گام آخر نیز حوزه‌های کاربری بعد از مسلط شدن بر Front-End را معرفی خواهیم کرد.</span>
									<hr>
									<div class="blog-meta mt-15">
										<a class="date" href="#"><i class="far fa-calendar-alt"></i>1 شهریور 1401</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="blog-item wow fadeInUp delay-0-2s">
								<div class="image">
									<img src="~/site/images/blog/blog2.png" alt="Blog">
								</div>
								<div class="content">
									<div class="blog-meta mb-20">
										<a class="tag" href="blog.html">برنامه نویسی</a>
										<a class="tag" href="blog.html">آموزش</a>
									</div>
									<h5 class="mb-10"><a href="blog-details.html" title="شئ گرایی در برنامه نویسی" class="ellipsis-1">شئ گرایی در برنامه نویسی</a></h5>
									<span class="ellipsis-3">نامه نویسی شی گرا (OOP) یک مدل برنامه نویسی کامپیوتری است که طراحی نرم افزار را حول داده ها یا اشیاء سازماندهی می کند تا توابع و منطق. یک شی را می توان به عنوان یک فیلد داده تعریف کرد که دارای ویژگی ها و رفتار منحصر به فرد است.</span>
									<hr>
									<div class="blog-meta mt-15">
										<a class="date" href="#"><i class="far fa-calendar-alt"></i>1 مهر 1401</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bg-lines">
				<span></span><span></span>
				<span></span><span></span>
				<span></span><span></span>
				<span></span><span></span>
				<span></span><span></span>
			</div>
		</section>
		<div class="client-logo-area rel z-1 pt-130 rpt-100 pb-60">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xl-12">
						<div class="section-title text-center pt-5 mb-65 wow fadeInUp delay-0-2s">
							<h6 class="highlight-small">همکاری های اخیر من با <span>برند های محبوب</span></h6>
						</div>
					</div>
				</div>
				<div class="client-logo-wrap">
					<a class="client-logo-item wow fadeInUp delay-0-2s" href="contact.html">
						<img src="~/site/images/client-logos/client-logo1.png" alt="Client Logo">
					</a>
					<a class="client-logo-item wow fadeInUp delay-0-3s" href="contact.html">
						<img src="~/site/images/client-logos/client-logo2.png" alt="Client Logo">
					</a>
					<a class="client-logo-item wow fadeInUp delay-0-4s" href="contact.html">
						<img src="~/site/images/client-logos/client-logo3.png" alt="Client Logo">
					</a>
					<a class="client-logo-item wow fadeInUp delay-0-5s" href="contact.html">
						<img src="~/site/images/client-logos/client-logo4.png" alt="Client Logo">
					</a>
					<a class="client-logo-item wow fadeInUp delay-0-6s" href="contact.html">
						<img src="~/site/images/client-logos/client-logo5.png" alt="Client Logo">
					</a>
					<a class="client-logo-item wow fadeInUp delay-0-2s" href="contact.html">
						<img src="~/site/images/client-logos/client-logo6.png" alt="Client Logo">
					</a>
					<a class="client-logo-item wow fadeInUp delay-0-3s" href="contact.html">
						<img src="~/site/images/client-logos/client-logo7.png" alt="Client Logo">
					</a>
					<a class="client-logo-item wow fadeInUp delay-0-4s" href="contact.html">
						<img src="~/site/images/client-logos/client-logo8.png" alt="Client Logo">
					</a>
					<a class="client-logo-item wow fadeInUp delay-0-5s" href="contact.html">
						<img src="~/site/images/client-logos/client-logo9.png" alt="Client Logo">
					</a>
					<a class="client-logo-item wow fadeInUp delay-0-6s" href="contact.html">
						<img src="~/site/images/client-logos/client-logo10.png" alt="Client Logo">
					</a>
				</div>
			</div>
			<div class="bg-lines">
				<span></span><span></span>
				<span></span><span></span>
				<span></span><span></span>
				<span></span><span></span>
				<span></span><span></span>
			</div>
		</div>
		@await Component.InvokeAsync("Footer");
		<div class="nox-mouse nox-mouse-outer"></div>
		<div class="nox-mouse nox-mouse-inner"></div>

	</div>
<partial name="_Scripts"/>

</body>
</html>
